/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1A1A1A;
  color: rgba(54, 162, 235, 1);
}

.chartCard {
  width: 100vw;
  height: calc(100vh - 40px);
  background: rgba(54, 162, 235, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  max-width: 600px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
}

.chartCard {
  width: 100vw;
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
} 

.chartBox {
  width: 700px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px (rgb(255, 26, 104, 1));
}

.container {
  width: 500px;
  overflow-x: scroll;
}

.containerBody {
  height: 500px;
} */

/* ------------------------------------ */
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1A1A1A;
  color: rgba(54, 162, 235, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
.chartCard {
  width: 100vw;
  height: calc(100vh - 40px);
  background: rgba(54, 162, 235, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox {
  width: 700px;
  padding: 20px;
  border-radius: 20px;
  border: solid 3px rgba(54, 162, 235, 1);
  background: white;
  display: flex;
}

.colSmall {
  width: 35px;
}

.colLarge {
  max-width: 700px;
  overflow-x: scroll;
}

.box {
  width: calc(1000px - 35px);
  height: 500px;
}